@charset "UTF-8"
@import  function
@import  base

*
    position: static

html, body
    width: 100vw
    height: 100vh

// FOOTER
.footer
    position: absolute
    bottom: 0px


.checkbtn
    position: absolute
    display: flex
    flex-direction: column
    top: 20%
    left: 15%
    +size(15%,5%)
    z-index: 50
    .btn
        text-align: center
        font-size: 20px
        padding: 3px 5px
        border-radius: 20px
        letter-spacing: 2px
        margin-top: 2%
        color: $Mgray_color
        text-decoration: none
        &:hover
            background-color: #fefbd2
            color: #231815
            box-shadow: 1px 2px 0 0 rgba(198, 198, 186, 0.75)



//MAP 頁面
#map
    position: relative
    top: 10%
    width: 70%
    margin: 0 auto

    
#map_img
    +size(100%,auto)


.onOption
    background-color: #fefbd2
    color: #231815
    box-shadow: 1px 2px 0 0 rgba(198, 198, 186, 0.75)


//資訊卡
.info
    +size(70%, 15%)
    //+border()
    position: absolute
    top: -50px
    left: 350px
    
.infoText
    +size(100%,auto)
    display: flex

#card_img
    +size(100px, 100px)
    // +border()
    align-self:  flex-end 

#logo_img
    +size(20px, 20px)
    

#card_text
    margin-left: 2%
    // +border()
    .detail 
        margin: 0px
        margin-bottom: 0.5%
    .name, .year
        margin-left: 2%


//各個point 設定
.mapInfo
    position: relative
.point_img
    box-sizing: content-box
    position: absolute
    display: inline-block
    padding: 10px
    +size(10px, 10px)
#point0
    top: 31.6%
    left: 10.9%
#point1
    top: 37.6%
    left: 73.9%

#point2
    top: 37.8%
    left: 44.3%

#point3
    top: 21.3%
    left: 13.3%

#point4
    top: 40.9%
    left: 70.7%

#point5
    top: 48%
    left: 20.5%

#point6
    top: 56.3%
    left: 28.6%

#point7
    top: 38.5%
    left: 68.3%

/*法蘭辛

#point8
    top: 38.8%
    left: 42.3%

/*沼畑

#point9
    top: 42%
    left: 68.2%

/*雷蒙德卡佛

#point10
    top: 47%
    left: 70.5%

/*柯林萊特

#point11
    top: 42.7%
    left: 73.6%

/*喬舒亞·貝克爾

#point12
    top: 49%
    left: 36.5%

/*雍正

#point13
    top: 47.1%
    left: 69.3%